/*去除下间距*/
.zl-clean-mg-d{
    margin-bottom:0px;
}
/*评论的时间样式*/
.zl-common-foot{
    display: block;
    font-size: 80%;
    color: #6c757d;
}
/*评论框默认消失*/
.zl-common-text{
    display: none;
}
.zl-common-button{
    margin-top:10px;
}

